# GENERAL
NODE_ENV=development
LOG_LEVEL=debug
CORS_ORIGIN="https://app.guidebook.localhost"
EMAIL_ADAPTER="mailhog"

# DATABASE
DATABASE_URL="postgres://postgres:guidebook@localhost:5432/guidebook"
DATABASE_TEST_URL="postgres://postgres:guidebook@localhost:5432/guidebook_test"

# JWT
JWT_SECRET="secret99"
JWT_REFRESH_SECRET="secret99"
JWT_EXPIRATION_TIME=1000

# MAILS
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

# AWS
AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=AKIAV2CD6JAAAAAAAA
AWS_SECRET_ACCESS_KEY=SECREETTTTTTTTTTTTTTTTTTT

FILE_STORAGE_ADAPTER=dev
S3_DEV_BUCKET=2m3d-boilerplate-dev
S3_BUCKET=2m3d-boilerplate-prod


# AUTH

BETTER_AUTH_SECRET="secret999"
BETTER_AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=1111111111111-example.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-example123


